body {
  background-color: rgb(211, 211, 211);
}

nav ul {
  display: flex;
}

nav ul li {
  flex: 1;
  text-align: center;
  list-style: none;
  border: 3px solid black;
}

@media (min-width: 500px) {
    .project-section {
        display: flex;
      }
      
      .project {
        /* flex: 1; */
        width: 200px;
        margin: 1rem;
        border: 3px solid black;
        background-color: rgb(212, 208, 208);
      }

      .project h2 {
        text-align: center;
      }
}